.left-panel {
  @apply hidden md:flex md:flex-col md:gap-y-8 px-4 md:px-0 md:w-1/3;
  width: 260px;
}

.profile-info {
  @apply bg-white relative p-6 border-0 rounded-2xl;
  box-shadow: var(--shadow-s) var(--shadow-color-primary);
}

.profile-info .edit-info {
  @apply w-8 h-8 border-0 rounded-lg flex items-center justify-center bg-white absolute -top-4 right-6;
  box-shadow: var(--shadow-s) var(--shadow-color-primary);
}

.aside-menu {
  @apply bg-white border-0 rounded-2xl /* px-6 */;
  box-shadow: var(--shadow-s) var(--shadow-color-primary);
}

.aside-menu .menu-item {
  @apply py-4 border-b border-primary-light mx-6;
}

.aside-menu .menu-item.active {
  background-color: var(--color-primary-light);
  margin-left: 0;
  margin-right: 0;
}

.aside-menu .menu-item:last-child {
  @apply border-none;
}

.aside-menu .menu-item a {
  @apply block text-sm text-gray-storm font-semibold;
}

.main-content {
  @apply mb-20 md:w-2/3;
}

.edit-profile-modal .modal-header {
  @apply py-9 px-4;
}

.edit-profile-modal .modal-body {
  @apply px-4;
}

.mini-map {
  @apply bg-gray-background border-0 rounded-xl relative;
  height: 150px;
  background-color: rgba(93, 62, 188, 0.12);
}

.street {
  @apply truncate;
  max-width: calc(100vw - 150px);
}

@media screen and (min-width: 768px) {
  .main-content {
    max-width: 660px;
  }

  .edit-profile-modal {
    min-width: 446px;
    @apply border-0 rounded-xl;
  }

  .edit-profile-modal .modal-header {
    @apply px-8;
  }

  .edit-profile-modal .modal-body {
    @apply px-8 pb-8 rounded-b-xl;
  }

  .street {
    max-width: 350px;
  }
}
